<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form class="form-control" action="/execute-randoop" method="POST">
        {% csrf_token %}
        <label for="j_code">Source Code:</label><br>
        <textarea id="j_code" name="j_code" required></textarea><br>
        <label for="e_behavior">Expected Behavior:</label><br>
        <textarea id="e_behavior" name="e_behavior"></textarea><br>
        <input type="submit"  value="upload">
    </form>
</body>
</html>
