<!DOCTYPE html>

<html>
    <head> 
        <link rel="stylesheet" href="login_style.css">
    </head>
    <body>
        <form class="box" action="/login" method="post">
          <h1>Login to ur account</h1>
          {% csrf_token %}
          <input type="text" id="username" name="username" placeholder="Username">

          <input type="password" id="pass1" name="pass1" placeholder="Password">

          <input type="submit" value="Login">
          <!-- <div class="form-outline mb-4">
            <label for="username" class="form-label">Email address</label>
            <input type="text" class="form-control" id="username" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">
              username is unique to you
            </div>
          </div>
          <div class="mb-3">
            <label for="pass1" class="form-label">Password</label>
            <input type="password" class="form-control" id="pass1">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button> -->
        </form>
        <script src="" async defer></script>
    </body>
</html>